CLIENT_ID = "sh-1f5*.5f"
CLIENT_SECRET = "ok2*.Og"
COPERNICUS_TOKEN_URL = "https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token"
CDSE_SEARCH_URL = "https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/search"
DATA_SPACE_URL = "https://sh.dataspace.copernicus.eu/api/v1/process"

